@*@using Winter.Component
    @addTagHelper "*, Winter.Component"*@

<h1>Index.cshtml</h1>
<hr style="border-color:red" />
<h3>vc:tasks in index View page</h3>
<vc:tasks message="vc:Message From Index Veiw Page"></vc:tasks>

<hr style="border-color:red" />
<h3>vc:test in index View page</h3>
    <vc:test message="Test"></vc:test>

<hr style="border-color:red" />
<h3>winter-tasks: in index View page</h3>
<winter-tasks message="tg:Message From Index Veiw Page"></winter-tasks>

@*
    <hr style="border-color:red" />
    <a href="/Home/LoadCopnentViewWithTaghelper">LoadCopnentViewWithTaghelper</a>*@

